[core]
    autocrlf = false
    excludesfile = '.DS_Store'
    filemode = false
[i18n]
    filesEncoding = utf-8
[includeIf "hasconfig:remote.*.url:git@github.com"]
    path = ~/.gitconfig-ssh
[init]
    defaultBranch = main
[pull]
    rebase = false
[user]
    name = James Roller, Jr.
    email = og.readmore@gmail.com
