[core]
    autocrlf = false
    excludesfile = '.DS_Store'
    filemode = false
[i18n]
    filesEncoding = utf-8
[init]
    defaultBranch = main
[pull]
    rebase = false
[url "ssh://git@github.com/"]
    insteadOf = https://github.com/
[user]
    name = James Roller, Jr.
    email = og.readmore@gmail.com
